.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 4px dashed #bbb;
}

.header_logo {
  position: relative;
}

.header_navigation {
  display: flex;
  list-style: none;
}

.navigation-item {
  min-width: 100px;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: rgb(187, 187, 187, .5);
  cursor: pointer;
  transition: ease-in-out .4s;
  &:hover {
    color: #000;
    background-color: rgb(187, 187, 187, 1);
    transform: scale(1.01);
  }
}