.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 4px dashed #bbb;
}

.header_logo {
  position: relative;
  color: #ff8800;
}

.header_navigation {
  display: flex;
  list-style: none;
}

.navigation-item {
  min-width: 100px;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #000;
  background-color: #bbb;
  cursor: pointer;
  transition: ease-in-out .2s;
  &:hover,
  &.active
   {
    color: #ff8800;
    background-color: #fff;
  }
}