.garage {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.garage_settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings_control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 70px;
}

.settings_remote {
  display: flex;
  align-items: center;
}

.settings_buttons {
  display: flex;
  justify-content: space-between;
  width: 366px;
  margin: 0 auto;
}

.remote_input {
  width: 200px;
  height: 28px;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #bbb;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  &:hover,
  &:focus {
    background-color: #fff;
  }
}

.remote_color {
  width: 26px;
  height: 26px;
  margin: 0 20px;
  border: 1px solid rgb(187, 187, 187, .25);
  border-radius: 4px;
}

.remote_button {
  min-width: 100px;
  height: 28px;
  padding: 4px 10px;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
  color: #000;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #bbb;
  border: none;
  cursor: pointer;
  transition: ease-in-out .2s;
  &:hover {
    color: #ff8800;
    background-color: #fff;
  }
}
